@model IEnumerable<BowlThemUp.Models.Alley>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LaneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlleyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlleyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlleyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
